---
import Layout from "../layouts/Layout.astro";
import VideoUpload from "../components/VideoUpload.astro";
import "../styles/global.css";

if (Astro.request.method === "POST") {
	try {
	  const data = await Astro.request.formData();
	  console.log('received file');
	  const video = data.get("video_upload");
	  
	} catch (error) {
	  if (error instanceof Error) {
		console.error(error.message);
	  }
	}
}
---

<Layout title="AstroFootball">
	<div class="container">
		<p>
			Welcome to AstroFootball, the ultimate destination for football
			enthusiasts, coaches, and analysts looking to elevate their game
			analysis to a whole new level. Our cutting-edge website harnesses
			the power of OpenCV, a state-of-the-art computer vision library, to
			transform ordinary football videos into dynamic tactical analyses.
			Whether you're a dedicated coach seeking to fine-tune your team's
			strategies or a passionate fan hungry for a deeper understanding of
			the game, AstroFootball provides a seamless platform for converting
			raw footage into insightful, visually compelling tactical
			breakdowns. Say goodbye to traditional video analysis methods and
			embrace a new era of football intelligence with AstroFootball.
		</p>
		<p>Received a {Astro.request.method} request to "{Astro.request.url}".</p>
		<p>Received request headers: <code>{JSON.stringify(Object.fromEntries(Astro.request.headers))}</code>
		<VideoUpload />
	</div>
</Layout>