---
import Layout from '../layouts/Layout.astro';
---
<Layout title="AstroFootball">
    <main>
        <h1>Upload Your Video Here</h1>
        <input type="file" name="video_upload" id="video_upload">
    </main>
</Layout>
