---
---
<header class="header">
    <div class="container">
      <nav>
        <ul>
            <li class="home_button"><img src="../img/homelogo"></li>
            <li class="language_selection">Language Selection Goes Here</li>
        </ul>
      </nav>
    </div>
</header>

<style>
    .header {
    height: 70px;
    background: var(--color-secondary);
  }
  
  .header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .header img {
    height: 35px;
    vertical-align: middle;
  }

  .header nav{
    width: 100%;
  }
  
  .header nav ul {
    display: flex;
    justify-content: space-between;
  }
  
  .header nav ul li {
    padding: 0 10px;
  }
  
  .header nav ul li a {
    color: #fff;
  }

  .home_button{
    
  }
  </style>